<web-app>

<servlet>
	<servlet-name>loginServlet</servlet-name>
	<servlet-class>loginServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>loginServlet</servlet-name>
	<url-pattern>/loginServlet</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>viewProfile</servlet-name>
	<servlet-class>viewProfile</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>viewProfile</servlet-name>
	<url-pattern>/viewProfile</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>logout</servlet-name>
	<servlet-class>logout</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>logout</servlet-name>
	<url-pattern>/logout</url-pattern>
</servlet-mapping>

</web-app>